@use '../variables' as var;
@use '../mixins/utils';

// Base styles
// -----------
@use '../reset';
@use '../util';
@use './elements';

// Shared styles
// -----------------
@use '@hypothesis/frontend-shared/styles';

// Custom button styling for the application
@use './buttons';

// Components
// ----------
@use './components/Annotation';
@use './components/AnnotationBody';
@use './components/AnnotationHeader';
@use './components/AnnotationLicense';
@use './components/AnnotationPublishControl';
@use './components/AnnotationQuote';
@use './components/AnnotationShareControl';
@use './components/AnnotationShareInfo';
@use './components/AnnotationTimestamps';
@use './components/AnnotationUser';
@use './components/AutocompleteList';
@use './components/Excerpt';
@use './components/FilterSelect';
@use './components/FilterStatus';
@use './components/GroupList';
@use './components/GroupListItem';
@use './components/HelpPanel';
@use './components/HypothesisApp';
@use './components/LaunchErrorPanel';
@use './components/LoggedOutMessage';
@use './components/MarkdownEditor';
@use './components/MarkdownView';
@use './components/Menu';
@use './components/MenuItem';
@use './components/MenuSection';
@use './components/ModerationBanner';
@use './components/NotebookView';
@use './components/NotebookResultCount';
@use './components/PaginationNavigation';
@use './components/SelectionTabs';
@use './components/ShareAnnotationsPanel';
@use './components/SearchInput';
@use './components/ShareLinks';
@use './components/TagEditor';
@use './components/TagList';
@use './components/Thread';
@use './components/ThreadCard';
@use './components/ThreadList';
@use './components/ToastMessages';
@use './components/TopBar';
@use './components/Tutorial';
@use './components/VersionInfo';

// Make the shared package utility styles available
@use '@hypothesis/frontend-shared/styles/util' as hyp-u;

// Top-level styles
// ----------------

body {
  @include utils.font--medium;
  height: 100%;

  background-color: var.$color-background;
  color: var.$color-text;
  font-family: var.$sans-font-family;
  font-weight: normal;
}
