**/node_modules
**/distribution
**/.parcel-cache
**/web-ext-artifacts
**/.DS_Store
**/code.zip
**/test-artifacts
**/test-results

playwright-report
playwright/.cache
tests/*.spec.ts-snapshots

.buildt