body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* login */
.sbui-btn-primary,
.sbui-checkbox[type="checkbox"]:checked {
    background-color: hsl(51, 80%, 64%) !important;
}
.sbui-typography-link {
    color: rgba(75, 85, 99, var(--tw-text-opacity)) !important;
}
.sbui-input:focus {
    box-shadow: 0 0 0 2px rgba(237 215 91 / 10%) !important;
}
.sbui-input:focus,
.sbui-checkbox:hover {
    border-color: hsl(51, 80%, 64%) !important;
}

/* topic tag */
.ui-tag.no-background:not(:hover) {
    background: none !important;
}
.ui-tag.no-background:not(:hover) > .count {
    opacity: 0 !important;
}

/* stats calendar */
.react-activity-calendar__calendar
    > g:not(.react-activity-calendar__legend-month)
    > rect {
    stroke: none !important;
    cursor: pointer;
}
.react-activity-calendar__calendar
    > g:not(.react-activity-calendar__legend-month)
    > rect:hover {
    stroke: black !important;
}

/* modal content & background fade-in & out */
.modal {
    opacity: 0;
    visibility: hidden;
}
.modal-visible {
    opacity: 1;
    visibility: visible;

    transition: all 0.4s cubic-bezier(0.5, 1, 0.89, 1); /* easeOutQuad */
}
.modal-hidden {
    transition: all 0.4s cubic-bezier(0.5, 1, 0.89, 1); /* easeOutQuad */
}

/* modal content scaling */
.modal-content {
    transform: scale(0.9) translateY(20px);
}
.modal-visible > .modal-content {
    transform: scale(1) translateY(0);
    transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1); /* easeOutBack */
}
.modal-hidden > .modal-content {
    transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1); /* easeOutQuart */
}

/* background close hover */
.modal-visible > .modal-content:not(:hover) {
    transform: scale(99.5%);
}

.force-graph-container,
.force-graph-container > canvas {
    animation: fadein 0.3s ease-out;
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
