body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* login */
.sbui-btn-primary,
.sbui-checkbox[type="checkbox"]:checked {
    background-color: hsl(51, 80%, 64%) !important;
}
.sbui-typography-link {
    color: rgba(75, 85, 99, var(--tw-text-opacity)) !important;
}
.sbui-input:focus {
    box-shadow: 0 0 0 2px rgba(237 215 91 / 10%) !important;
}
.sbui-input:focus,
.sbui-checkbox:hover {
    border-color: hsl(51, 80%, 64%) !important;
}

/* topic tag */
.ui-tag.no-background:not(:hover) {
    background: none !important;
}
.ui-tag.no-background:not(:hover) > .count {
    opacity: 0 !important;
}

/* stats calendar */
.react-activity-calendar__calendar
    > g:not(.react-activity-calendar__legend-month)
    > rect {
    stroke: none !important;
    cursor: pointer;
}
.react-activity-calendar__calendar
    > g:not(.react-activity-calendar__legend-month)
    > rect:hover {
    stroke: black !important;
}
