.progress-circle {
    --lindy-background-color: transparent;
}
/* rest taken from svelte component */

.progress-circle,
.celebration-icon {
    transform-origin: bottom;
}

.logoWrap {
    transform-origin: 50px 50px;
}

.logoGradient {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(
        rgba(255, 23, 68, 0.5),
        rgba(213, 0, 249, 0.5),
        rgba(61, 90, 254, 0.5),
        rgba(0, 176, 255, 0.5),
        rgba(29, 233, 182, 0.5),
        rgba(118, 255, 3, 0.5),
        rgba(255, 234, 0, 0.5),
        rgba(255, 145, 0, 0.5),
        rgba(255, 23, 68, 0.5)
    );
}

.logoPath {
    stroke-linecap: round;
    fill: none;
    transform-origin: 50px 50px;
    transform: rotate(-180deg);
    transition: stroke-dashoffset 0.35s;

    stroke-dasharray: 288.5;
}

.placeholder {
    stroke: #f3f4f6;
    fill: var(--lindy-background-color);
    stroke-width: 6;
    transform-origin: 50px 50px;
}

.caption.goal-reached > .count {
    animation-name: fadeOutProgress, fadeInProgress;
    animation-delay: 0s, 1.65s;
    animation-duration: 0.5s, 0.5s;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1),
        cubic-bezier(0.16, 1, 0.3, 1);
    animation-fill-mode: forwards, forwards;
}
.caption.goal-reached > .celebration-icon {
    animation-name: fadeInProgress, fadeOutProgress;
    animation-delay: 0.15s, 1.5s;
    animation-duration: 0.5s, 0.5s;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1),
        cubic-bezier(0.16, 1, 0.3, 1);
    animation-fill-mode: forwards, forwards;
}

@keyframes fadeOutProgress {
    from {
        visibility: visible;
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        opacity: 0;
        transform: translate3d(10px, 0, 0);
    }
}
@keyframes fadeInProgress {
    from {
        visibility: hidden;
        opacity: 0;
        transform: translate3d(-10px, 0, 0);
    }
    to {
        visibility: visible;
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.animated-number > .before-value {
    animation: animateNumberOut 0.4s cubic-bezier(0.5, 1, 0.89, 1) 1s; /* easeOutQuad */
    animation-fill-mode: both;
}
.animated-number > .after-value {
    animation: animateNumberIn 0.4s cubic-bezier(0.5, 1, 0.89, 1) 1s; /* easeOutQuad */
    animation-fill-mode: both;
}
@keyframes animateNumberOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}
@keyframes animateNumberIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
