html.pageview {
    background-color: #000 !important;
}

.html.pageview > body {
    filter: drop-shadow(0 10px 8px rgb(255 255 255 / 0.15))
        drop-shadow(0 4px 3px rgb(255 255 255 / 0.2));
}

.lindy-page-broken {
    color: #d1d5db;
}

/* dark mode global tweaks */
:root {
    color: var(--lindy-dark-theme-text-color);
}
a {
    color: #3391ff;
}

img {
    mix-blend-mode: difference !important;
    /* filter: brightness(80%) !important; */
}
