html.pageview {
    background-color: #f1f3f4 !important;
    cursor: zoom-out;

    /* initial theme variables, updated by JS later */
    /* need on html element to access outside body */
    --lindy-pagewidth: 780px;
    /* --lindy-active-font-size set in iterateDOM() */
}

html.pageview > body {
    /* animation properties are set inline */
    position: relative !important;

    width: 100%;
    max-width: var(--lindy-pagewidth) !important;
    margin: 10px auto !important;
    box-sizing: border-box !important; /* reduce inner width if there's padding */

    border-radius: 10px !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;

    /* margins are also set inline in body.js for higher specifity */
    margin-top: 0.05px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;

    cursor: auto;

    /* caution: using filter: drop-shadow() here causes rendering lag */
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
}

.lindy-body-background {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    z-index: -100 !important;
    content: "" !important;
    /* height set and updated via JS */
    background: var(--lindy-background-color);

    border-radius: 10px !important;
}

.lindy-page-broken {
    position: fixed;
    top: 20%;
    width: 100%;
    z-index: -200 !important;

    text-align: center;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto;
    font-size: medium;
    font-weight: 500;
    color: #374151;
}

@media (prefers-color-scheme: dark) {
    html.pageview {
        background-color: #35363a !important;
    }

    .html.pageview > body {
        filter: drop-shadow(0 10px 8px rgb(255 255 255 / 0.15))
            drop-shadow(0 4px 3px rgb(255 255 255 / 0.2));
    }

    .lindy-page-broken {
        color: #d1d5db;
    }
}
