html {
    /* initial theme variables, updated by JS later */
    /* need on html element to access outside body */
    --lindy-pagewidth: 780px;
    /* --lindy-active-font-size set in iterateDOM() */
    transition: background 0.2s ease-in-out;
}

html.pageview {
    background-color: #f1f3f4 !important;
}

html.pageview > body {
    /* animation properties are set inline */
    position: relative !important;

    width: 100%;
    min-width: 0 !important;
    max-width: var(--lindy-pagewidth) !important;
    margin: 10px auto !important;
    box-sizing: border-box !important; /* reduce inner width if there's padding */

    border-radius: 10px !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;

    /* margins are also set inline in body.js for higher specifity */
    margin-top: 0.05px !important;
    padding-left: 50px !important;
    padding-right: 50px !important;

    cursor: auto;

    /* caution: using filter: drop-shadow() here causes rendering lag */
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
}

.lindy-body-background {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    z-index: -100 !important;
    content: "" !important;
    background: inherit;

    border-radius: 10px !important;
}

.lindy-toast {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999999999;
    border-radius: 7px 7px 7px;
    background-color: #edd75b;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    cursor: pointer;
    overflow: hidden;

    animation: toastTimeout 5s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
@keyframes toastTimeout {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translate3d(200px, 0, 0);
    }
    5% {
        visibility: visible;
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    95% {
        visibility: visible;
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    100% {
        visibility: hidden;
        opacity: 0;
        transform: translate3d(10px, 0, 0);
    }
}
.lindy-toast:hover {
    animation-play-state: paused;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.lindy-toast.lindy-toast-dismissed {
    visibility: hidden !important;
    opacity: 0 !important;
    transform: translate3d(10px, 0, 0) !important;
    /* dismiss fadeout transition not working at the moment */
}

.lindy-toast-content {
    padding: 3px;
    padding-bottom: 0;
    display: flex;
    align-items: center;
}
.lindy-toast-icon {
    width: 32px;
    color: #1f2937;
}
.lindy-toast-message {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto !important;
    font-size: 15px;
    font-weight: 600;
    color: #1f2937;
    margin: 0 6px;
    margin-top: -3px;
}

.lindy-toast-progressbar {
    width: 100%;
    height: 3px;
    background-color: #faf3ce;
}
.lindy-toast-progressbar {
    animation: toastProgressBar 5s linear;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.lindy-toast:hover > .lindy-toast-progressbar {
    animation-play-state: paused;
}
@keyframes toastProgressBar {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

#lindylearn-annotations-sidebar {
    position: absolute;
    top: 50px;
    left: calc(
        (100vw - var(--lindy-pagewidth)) / 2 + var(--lindy-pagewidth) - 5px
    );
    width: calc((100vw - var(--lindy-pagewidth)) / 2 - 50px);
    height: calc(100% - 50px - 50px);
    user-select: none;
}

#lindy-annotations-marginbar {
    position: absolute;
    top: 0;
    height: 100%;

    right: 0px;
    /* right: 25px; */

    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto !important;
    color: #374151;
}
#lindy-annotations-marginbar > div {
    position: absolute;
    right: 0;
    width: 100%;
    /* top and height set via JS */
}

/* lindy-highlight {
    position: relative;
}
lindy-highlight::after {
    position: absolute;
    right: -5px;
    top: 0;
    height: 100%;
    width: 1px;

    content: '';
    display: block;

    border-right: 5px solid;
} */