/* global dark mode tweaks */
html {
    scrollbar-color: var(--lindy-dark-theme-text-color) #131516 !important; /* only firefox */
}

/* ::-webkit-scrollbar {
    background-color: #000;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
    background-color: red;
} */

a {
    color: #3391ff;
}

img {
    mix-blend-mode: difference !important;
    /* filter: brightness(80%) !important; */
}
