html.pageview {
    background-color: #f1f3f4 !important;
    cursor: zoom-out;
}

html.pageview > body {
    /* animation properties are set inline */
    position: relative;

    width: 100%;
    max-width: 900px !important;
    margin: 10px auto !important;

    border-radius: 10px !important;
    overflow-x: hidden !important;

    cursor: auto;
}

.lindy-body-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -100;
    content: "";
    /* height and background-color set via JS */

    border-radius: 10px;
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
        drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.lindy-domain-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
}

/* .lindy-sidebar {
    position: absolute;
    top: 0;
    left: calc(100% + 20px);
    width: calc(100vw - 100% - 20px - 2 * 20px - 10px);
    height: 100%;
}

.share-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}
.share-icon img {
    width: 13px;
} */

@media (prefers-color-scheme: dark) {
    html.pageview {
        background-color: #35363a !important;
    }

    .lindy-body-background {
        filter: drop-shadow(0 10px 8px rgb(255 255 255 / 0.15))
            drop-shadow(0 4px 3px rgb(255 255 255 / 0.2));
    }

    .lindy-domain-toggle {
        color: white;
    }
}
