/* https://www.newyorker.com/news/our-columnists/the-evolution-of-alexey-navalnys-nationalism */
[class*="VideoFigure"] {
    display: none !important;
}
/* https://www.wired.com/2016/01/phil-kennedy-mind-control-computer/ */
.BasePageWrapper {
    padding-top: 0 !important;
}

/* https://www.theatlantic.com/ideas/archive/2022/03/ben-rhodes-alexey-navalny-maria-stepanova/627049/ */
[class*="SubOnlyPromo"] {
    display: none !important;
}

/* https://www.worksinprogress.co/issue/the-housing-theory-of-everything/ */
.site-content {
    padding-top: 0 !important;
}
.spotImagWrap {
    display: none !important;
}
.detail-start-wrap {
    top: 0 !important;
    padding-top: 0 !important;
}
.issueSumBlockWrap {
    visibility: visible !important;
    height: auto !important;
}

/* https://www.economist.com/business/2022/03/09/what-oil-bosses-are-saying-about-the-global-energy-crisis */
.styled-masthead {
    display: none !important;
}
.global-layout > div {
    top: 40px !important;
}

/* https://www.reuters.com/business/britain-start-approval-process-rolls-royce-mini-nuclear-reactor-2022-03-07/ */
[class*="regular-article-layout__header"] {
    display: none !important;
}
[class*="regular-article-layout__body"] {
    margin-top: 0 !important;
}

/* https://www.quantamagazine.org/in-new-experiment-astronomers-see-no-sign-of-cosmic-dawn-20220228/ */
.cookie-not-accepted {
    margin-top: 0 !important;
}
.header-spacer {
    display: none !important;
}
#postBody ~ * {
    display: none !important;
}

/* https://restofworld.org/2021/lost-in-translation-the-global-streaming-boom-is-creating-a-translator-shortage/ */
main {
    margin-top: 0 !important;
}

/* https://medium.com/swlh/working-on-dom-nodes-and-its-properties-in-javascript-af3ac77f803 */
.v.w.x,
.ez.fa {
    display: none !important;
}
.eu.ev ~ .o.ct {
    display: none !important;
}

/* https://www.gamesindustry.biz/articles/2022-02-24-studios-call-for-support-in-face-of-russian-invasion-of-ukraine */
.coverage-promo,
.article-coverage-promo,
.newsletter-promo,
.header-container {
    display: none !important;
}

/* https://gizmodo.com/barbed-wire-fences-were-an-early-diy-telephone-network-1493157700 */
.bxm4mm-6,
.wdg44t-8,
.js_ymal-below-post,
.js_more-below-post {
    display: none !important;
}

/* https://www.protocol.com/newsletters/entertainment/elden-ring?rebelltitem=1#rebelltitem1 */
.last-added {
    display: none !important;
}

/* https://slatestarcodex.com/2014/07/30/meditations-on-moloch/ */
.left-sidebar,
.widget-area {
    display: none !important;
}
body.post-template-default {
    padding: 0 !important;
}
#pjgm-wrap {
    margin: 0 !important;
}
#pjgm-header,
#pjgm-main {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

/* https://www.nytimes.com/2020/06/17/learning/bringing-ethics-to-your-plate.html */
.css-tux0zj {
    display: none !important;
}
section[name="articleBody"] ~ div {
    display: none !important;
}

/* https://sive.rs/itunes */
body#article {
    padding: 1px 20px;
}

/* https://www.theguardian.com/global-development/2022/mar/09/ukraine-urged-to-take-humane-approach-as-men-try-to-flee-war */
body > a[href="#maincontent"],
body > a[href="#navigation"],
div[data-gu-name="lines"],
div[data-gu-name="border"] {
    display: none !important;
}
.dcr-1c5ohp {
    grid-template-columns: none !important;
}
gu-island,
gu-island ~ section {
    display: none !important;
}

/* https://www.polygon.com/22969625/sony-playstation-sexism-allegations-lawsuit */
.outbrain-container,
.outbrain-container ~ div {
    display: none !important;
}

/* https://causalinf.substack.com/p/how-can-we-know-if-paid-search-advertising?s=r */
/* body {
    padding: 0;
} */

/* https://www.popularmechanics.com/adventure/outdoors/a19225/marooned-among-the-polar-bears/ */
.transporter {
    display: none !important;
}

/* https://en.wikipedia.org/wiki/Erotetics */
.noprint {
    display: none !important;
}
#content {
    border: none !important;
    padding: 0 !important;
    background: none !important;
    margin: 20px 0 !important;
}
body.mediawiki {
    background-color: white !important;
}

/* https://arstechnica.com/tech-policy/2022/03/google-hijacked-millions-of-customers-and-orders-from-restaurants-lawsuit-says/ */
.ad.ad.ad.ad {
    display: none !important;
}
.site-wrapper {
    background-color: white !important;
}
.sidebar {
    display: none !important;
}
