/* https://www.newyorker.com/news/our-columnists/the-evolution-of-alexey-navalnys-nationalism */
[class*="VideoFigure"] {
    display: none !important;
}
.BasePageWrapper-bQpzig {
    padding-top: 0 !important;
}
/* https://www.wired.com/2016/01/phil-kennedy-mind-control-computer/ */
.BasePageWrapper {
    padding-top: 0 !important;
}

/* https://www.theatlantic.com/ideas/archive/2022/03/ben-rhodes-alexey-navalny-maria-stepanova/627049/ */
[class*="SubOnlyPromo"] {
    display: none !important;
}

/* https://www.worksinprogress.co/issue/the-housing-theory-of-everything/ */
.site-content {
    padding-top: 0 !important;
}
.spotImagWrap {
    display: none !important;
}
.detail-start-wrap {
    top: 0 !important;
    padding-top: 0 !important;
}
.issueSumBlockWrap {
    visibility: visible !important;
    height: auto !important;
}

/* https://www.economist.com/business/2022/03/09/what-oil-bosses-are-saying-about-the-global-energy-crisis */
.styled-masthead {
    display: none !important;
}
.global-layout > div {
    top: 40px !important;
}

/* https://www.reuters.com/business/britain-start-approval-process-rolls-royce-mini-nuclear-reactor-2022-03-07/ */
[class*="regular-article-layout__header"] {
    display: none !important;
}
[class*="regular-article-layout__body"] {
    margin: 0 !important;
}
[class*="article-header__container"] {
    padding: 30px !important;
    grid-template-rows: repeat(1, max-content) !important;
}
.regular-article-layout__main__1tzD8 {
    margin: 0 !important;
}
.article-header__heading__15OpQ {
    margin-bottom: 0 !important;
}
.article-body__side-rail__3jORK,
.regular-article-layout__right-rail__3o6zT,
.spacing-container__container__2g5QT {
    display: none !important;
}
.article-header__author__3PcB3,
.article-header__buttons__1NoIL,
.article-header__share__3z79M,
.article-header__button-right-side__ts-xJ,
.article-header__read-time__1-q8x {
    display: none !important;
}
.primary-gallery__carousel-container__2zDCt {
    height: 400px !important;
    padding-bottom: 0 !important;
}
.primary-gallery__carousel__2zjf4 {
    height: 100% !important;
}
.article-body__element__OOj6H {
    margin: 20px 0 !important;
}
#fusion-app {
    margin: 0 -15px !important;
}

/* https://www.quantamagazine.org/in-new-experiment-astronomers-see-no-sign-of-cosmic-dawn-20220228/ */
.cookie-not-accepted {
    margin-top: 0 !important;
}
.header-spacer {
    display: none !important;
}
#postBody ~ * {
    display: none !important;
}

/* https://restofworld.org/2021/lost-in-translation-the-global-streaming-boom-is-creating-a-translator-shortage/ */
main {
    margin-top: 0 !important;
}

/* https://medium.com/swlh/working-on-dom-nodes-and-its-properties-in-javascript-af3ac77f803 */
.v.w.x,
.ez.fa {
    display: none !important;
}
.eu.ev ~ .o.ct {
    display: none !important;
}

/* https://www.gamesindustry.biz/articles/2022-02-24-studios-call-for-support-in-face-of-russian-invasion-of-ukraine */
.coverage-promo,
.article-coverage-promo,
.newsletter-promo,
.header-container {
    display: none !important;
}

/* https://gizmodo.com/barbed-wire-fences-were-an-early-diy-telephone-network-1493157700 */
.bxm4mm-6,
.wdg44t-8,
.js_ymal-below-post,
.js_more-below-post {
    display: none !important;
}

/* https://www.protocol.com/newsletters/entertainment/elden-ring?rebelltitem=1#rebelltitem1 */
.last-added {
    display: none !important;
}

/* https://slatestarcodex.com/2014/07/30/meditations-on-moloch/ */
.left-sidebar,
.widget-area {
    display: none !important;
}
body.post-template-default {
    padding: 0 !important;
}
#pjgm-wrap {
    margin: 0 !important;
}
#pjgm-header,
#pjgm-main {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

/* https://www.nytimes.com/2020/06/17/learning/bringing-ethics-to-your-plate.html */
.css-tux0zj {
    display: none !important;
}
section[name="articleBody"] ~ div {
    display: none !important;
}

/* https://sive.rs/itunes */
body#article {
    padding: 1px 20px;
}

/* https://www.theguardian.com/global-development/2022/mar/09/ukraine-urged-to-take-humane-approach-as-men-try-to-flee-war */
body > a[href="#maincontent"],
body > a[href="#navigation"],
div[data-gu-name="lines"],
div[data-gu-name="border"] {
    display: none !important;
}
.dcr-1c5ohp {
    grid-template-columns: none !important;
}
gu-island,
gu-island ~ section {
    display: none !important;
}

/* https://www.polygon.com/22969625/sony-playstation-sexism-allegations-lawsuit */
.outbrain-container,
.outbrain-container ~ div {
    display: none !important;
}

/* https://causalinf.substack.com/p/how-can-we-know-if-paid-search-advertising?s=r */
/* body {
    padding: 0;
} */

/* https://www.popularmechanics.com/adventure/outdoors/a19225/marooned-among-the-polar-bears/ */
.transporter {
    display: none !important;
}

/* https://en.wikipedia.org/wiki/Erotetics */
.noprint {
    display: none !important;
}
#content {
    border: none !important;
    padding: 0 !important;
    background: none !important;
    margin: 20px 0 !important;
}
body.mediawiki {
    background-color: white !important;
}

/* https://arstechnica.com/tech-policy/2022/03/google-hijacked-millions-of-customers-and-orders-from-restaurants-lawsuit-says/ */
.ad.ad.ad.ad {
    display: none !important;
}
.site-wrapper {
    background-color: white !important;
}
.story-sidebar {
    display: none !important;
}

/* https://www.independent.co.uk/news/turkish-far-right-on-the-rise-1088461.html */
#newsletter-component,
.tbl-feed-container {
    display: none !important;
}
#main.sc-WivXX > div {
    display: none !important;
}

/* https://tomcritchlow.com/2022/03/08/architecture-blogging/ */
.w-two-thirds-ns {
    width: 100% !important;
}

/* https://www.npr.org/2022/03/17/1087133199/netflix-plans-to-start-charging-for-password-sharing-and-customers-arent-happy */
#main-section {
    margin: 0 !important;
}
#main-sidebar,
#globalheader {
    display: none !important;
}
.tmplNewsStory {
    padding: 0 !important;
}
.storytext > p {
    max-width: none !important;
}
/* https://www.npr.org/2022/03/16/1086896823/vladimir-strzhalkovsky-superyacht-norway?t=1647533782416 */
.contentheader,
.internallink,
.backstage-sponsor-language {
    display: none !important;
}

/* https://www.cbsnews.com/news/ukraine-european-power-grid-russia/ */
.embed--type-content_video {
    display: none !important;
}
.site-header {
    display: none !important;
}
.content__header.content__header {
    display: block !important;
    background: initial !important;
    color: initial !important;
}
.content__title {
    padding-bottom: 0 !important;
}
.content__header {
    padding-bottom: 0 !important;
}
.content__body {
    margin-top: 0 !important;
}

/* https://www.lbc.co.uk/world-news/60fd7d63153c4125ab21a32e7e6ac9eb/ */
.row21 {
    max-width: none !important;
}
.cadmus-article {
    background-color: white !important;
}
.header--twin {
    display: none !important;
}
.seemore,
.seemore ~ * {
    display: none !important;
}

/* https://www.extremetech.com/extreme/332818-nasa-completes-james-webb-space-telescope-alignment-instrument-performing-above-expectations */
.wrapper {
    margin-top: 0 !important;
}
.wrapper > .row {
    border: none !important;
}
.affiliate-text,
#share_container,
.hybrid-bar {
    display: none !important;
}

/* https://www.nasa.gov/content/goddard/hubble-space-telescope-science-instruments */
#content {
    margin-top: 0 !important;
}

/* https://www.nbcnews.com/news/us-news/kanye-west-banned-instagram-violating-hate-speech-bullying-policies-rcna20397 */
.black-print,
.article-dek {
    color: black !important;
}
#cx_bottom_banner {
    display: none !important;
}

/* https://www.bbc.com/news/60773595 */
.ssrcss-hhhbpo-ContainerWithSidebarWrapper {
    display: block !important;
}
.ssrcss-rgov1k-MainColumn ~ div,
.ssrcss-11faxz6-TagShareWrapper,
.ssrcss-msolhr-LinksWrapper {
    display: none !important;
}
.ssrcss-181c4hk-SectionWrapper {
    height: 100% !important;
}
.ssrcss-uf6wea-RichTextComponentWrapper {
    max-width: none !important;
}

/* https://edition.cnn.com/2022/03/16/media/disney-walkout-florida-bill/index.html */
.ticker-ribbon,
.el__embedded,
.zn-body-text ~ * {
    display: none !important;
}

/* https://www.independent.co.uk/news/world/europe/mcdonalds-russia-fast-food-trademark-b2037987.html */
.sc-jcZdLI {
    display: none !important;
}

/* https://developers.google.com/web/updates/2018/03/cssom */
.devsite-wrapper.devsite-wrapper > devsite-book-nav[fixed] {
    display: none !important;
}

/* https://webkit.org/blog/12445/new-webkit-features-in-safari-15-4/ */
main#content {
    overflow: visible !important;
}
.table-of-contents,
#logo {
    display: none !important;
}

/* https://web.dev/text-fragments/ */
.wrapper,
.prose {
    width: 100% !important;
    max-width: none !important;
}

/* https://www.engadget.com/steam-deck-review-small-hands-180026719.html */
.drawer-swipeable > .wrapper {
    position: static !important;
}
