@use '../../variables' as var;
@use '../../mixins/layout';
@use '../../mixins/utils';

.AnnotationShareInfo {
  &__icon {
    @include utils.icon--xsmall;
    // This margin is currently needed because the icon is within an `a` element
    margin-right: 5px;
  }
}
