@use '../../mixins/buttons';
@use '../../mixins/layout';
@use '../../variables' as var;

// When hovering a top-level annotation, show the footer in a hovered state.
// When hovering a reply (at any level), show the reply's own footer in
// a hovered state and also the footer of the top-level annotation.
// TODO: Make these work again or remove
.ThreadList__card:hover > .Annotation,
.Annotation:hover {
  .Annotation-replies__link,
  .Annotation-replies__count,
  .Annotation-action-btn {
    color: var.$grey-6;
  }
}

.Annotation {
  @include layout.vertical-rhythm;
}
