@use '../../variables' as var;
@use '../../mixins/buttons';
@use '../../mixins/layout';
@use '../../mixins/molecules';

.AnnotationBody__text {
  &.is-hidden {
    @include molecules.redacted-content;
  }
}

.AnnotationBody__collapse-toggle {
  @include layout.row(right);
  @include layout.vertical-space(var.$layout-space--xsmall);
}
