@use '../../variables' as var;
@use '../../mixins/layout';
@use '../../mixins/utils';

.AnnotationLicense {
  @include utils.font--small;
  @include utils.border--top;
  // Space between border and text content
  padding-top: var.$layout-space--xsmall;

  // Container with two icons (representing CC licenses)
  // with a very small amount of spacing between them
  &__icons {
    @include layout.row;
    @include layout.horizontal-rhythm(1px);
    // Add space before text
    margin-right: var.$layout-space--xxsmall;
  }
}
