@use '../../variables' as var;
@use '../../mixins/utils';

.AnnotationTimestamps {
  &__timestamp {
    color: var.$color-text--light;

    &--linked {
      &:hover {
        color: var.$color-text--light;
        text-decoration: underline;
      }
    }
  }

  &__edited {
    @include utils.font--small;
    color: var.$color-text--light;
    font-style: italic;
  }
}
