@use '../../mixins/layout';
@use '../../variables' as var;

.AnnotationPublishControl {
  @include layout.row;
  @include layout.horizontal-rhythm(var.$layout-space);
}

// A split control with a primary submit button on the left
// and a drop-down menu for changing
// the annotation's privacy settings on the right
// (within .annotation-publish-button__menu-wrapper)
.annotation-publish-button {
  @include layout.row;
  // To allow absolute menu alignment
  position: relative;

  // Align the menu (upward) arrow correctly with the ▼ in the menu label icon
  // Note the extra `&` needed for specificity against `Menu`'s own arrow styling
  & &__menu-arrow {
    right: 8px;
  }

  // Make sure the menu content is wide enough to "reach" to the right-aligned
  // menu arrow
  &__menu-content {
    min-width: 100%;
  }

  // The right side of the control (the privacy `Menu`)

  // This wrapper element styling is necessary to account for a peculiarity in
  // Safari. See https://github.com/hypothesis/client/issues/2302
  &__menu-wrapper {
    @include layout.row;
    // Add border radius to the right to match the left side of the primary button
    border-top-right-radius: var.$border-radius;
    border-bottom-right-radius: var.$border-radius;
    background-color: var.$grey-mid;

    &:hover {
      background-color: var.$grey-6;
    }
  }

  // dropdown arrow which reveals the  associated `Menu` when clicked
  &__menu-label {
    padding: var.$layout-space--small;
    color: var.$color-text--inverted;
  }
}
