@use '../../mixins/buttons';
@use '../../mixins/forms';
@use '../../mixins/layout';
@use '../../mixins/utils';
@use '../../variables' as var;

.AnnotationHeader {
  &__row {
    @include layout.row($align: baseline);
    // Wrap onto multiple rows from bottom to top
    flex-wrap: wrap-reverse;
  }

  &__icon {
    @include utils.icon--xsmall;
    color: var.$color-text;
  }

  &__highlight-icon {
    @include utils.icon--small;
    color: var.$color-text--light;
    // Pull the icon down a tad for better vertical alignment with other
    // items in the same layout row
    margin-bottom: -1px;
  }
}
