@use '../../variables' as var;
@use '../../mixins/molecules';

.AnnotationQuote {
  &__quote {
    @include molecules.quoted-text;
  }
  &.is-orphan &__quote {
    // In orphans, quotes should be rendered as if they're missing/redacted
    @include molecules.redacted-content;
  }
}
