@use '../../variables' as var;

// the distance by which the shadow indicating a collapsed
// annotation expands beyond the left/right edges of the card.
// This value is chosen such that the shadow expands to the full width of
// the card
$shadow-h-offset: -12px;
$expand-duration: 0.15s;

.Excerpt {
  transition: max-height $expand-duration ease-in;
  overflow: hidden;
  position: relative;
}

.Excerpt__content {
  // Create a new block-formatting context. This prevents any margins on
  // elements inside the excerpt from "leaking out" due to margin-collapsing,
  // which would push this container element away from the top of the excerpt.
  //
  // See https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Block_formatting_context
  // and https://github.com/hypothesis/client/issues/1518.
  display: inline-block;
  width: 100%;
}

// inline controls for expanding and collapsing
// the excerpt
.Excerpt__inline-controls {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
}

// A container for a button with a gradient background; this gives partial
// opacity behind the More/Less button so that it is easier to read
.Excerpt__toggle-container {
  padding-left: var.$layout-space;
  // See https://stackoverflow.com/a/56548711/9788954 regarding
  // rgba(255, 255, 255, 0) used here instead of `transparent` (for Safari)
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0px,
    var.$color-background var.$layout-space
  );
}

// a shadow displayed at the bottom of an <excerpt>s with inline controls
// disabled, which provides a hint that the excerpt is collapsed
.Excerpt__shadow {
  position: absolute;
  left: $shadow-h-offset;
  right: $shadow-h-offset;
  bottom: 0;
  height: var.$touch-target-size;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0.08) 95%,
    rgba(0, 0, 0, 0.13) 100%
  );
  transition: opacity $expand-duration linear;
}

.Excerpt__shadow--transparent {
  background-image: none;
}

.Excerpt__shadow.is-hidden {
  opacity: 0;
  pointer-events: none;
}
