@use '../../mixins/layout';
@use '../../mixins/molecules';
@use '../../variables' as var;

@mixin facet {
  white-space: nowrap;
}

.filter-facet {
  @include facet;
  font-weight: bold;
}

.filter-facet--muted {
  @include facet;
  color: var.$color-text--light;
  font-style: italic;
}

.filter-facet--pre {
  @include facet;
}

.FilterStatus {
  @include molecules.card;
  margin-bottom: var.$layout-space;
  padding: var.$layout-space--small;
  justify-content: space-between;

  &__text {
    flex-grow: 1;
    padding-right: var.$layout-space--xsmall;
  }
}
