@use '../../variables' as var;
@use '../../mixins/utils';

.GroupList__content {
  min-width: 250px;
}

.GroupList__menu-label {
  @include utils.font--large;
  align-items: center;
  color: var.$color-text;
  display: flex;

  // Prevent label from wrapping if top bar is too narrow to fit all of its
  // items.
  flex-shrink: 0;
  font-weight: bold;
}

.GroupList__menu-icon {
  @include utils.icon--medium;
  margin-right: 4px;

  // A minor adjustment to make the default icon (the Hypothesis logo) align
  // better with the text.
  position: relative;
  top: 1px;
}
