@use '../../variables' as var;

// Footer to display at the bottom of a menu item.
.GroupListItem__footer {
  background-color: var.$grey-1;
  margin: 0;
  // TODO consolidate
  padding-top: 15px;
  padding: 10px;

  // Align the left edge of the footer text with menu item labels above.
  padding-left: 35px;
  white-space: normal;

  // Override default hyphenation which is applied to all `p` elements in the
  // app.
  hyphens: none;
}
