@use '../../mixins/buttons';
@use '../../mixins/layout';
@use '../../mixins/molecules';
@use '../../mixins/utils';
@use '../../variables' as var;

.HelpPanel {
  &__sub-panel-title {
    @include utils.font--large;
    flex-grow: 1;
  }

  &__subcontent {
    @include utils.border--top;
    @include utils.border--bottom;
    @include layout.vertical-space;

    a {
      text-decoration: underline;
    }
  }

  &__icon {
    @include utils.icon--xsmall;
  }

  &__sub-panel-navigation-button {
    @include buttons.button--navigation;
  }

  &-tabs {
    @include molecules.panel-tabs;
  }
}
