@use '../../variables' as var;
@use '../mixins/layout';
@use '../mixins/responsive';

.HypothesisApp {
  $sidebar-h-padding: 9px;

  background: var.$grey-2;
  min-height: 100%;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding: $sidebar-h-padding;
  padding-top: $sidebar-h-padding + var.$top-bar-height;

  @include responsive.respond-to(tablets desktops) {
    padding-bottom: 4rem;
  }

  &__content {
    @include layout.sidebar-content;
  }

  // FIXME: Temporary affordance for the Notebook view to override some
  // layout spacing that assumes the presence of the top bar
  &--notebook {
    padding: var.$layout-space;
    @include responsive.respond-to(tablets desktops) {
      padding: var.$layout-space--xlarge;
    }
  }
}

// Disable scroll anchoring as it interferes with `ThreadList` and
// `visible-threads` calculations and can cause a render loop
.js-thread-list-scroll-root {
  overflow-anchor: none;
}
