@use '../styled-text';

.MarkdownView {
  width: 100%;

  @include styled-text.styled-text;

  cursor: text;

  // Prevent long URLs etc. in body causing overflow
  overflow-wrap: break-word;
  word-break: break-word;

  // Margin between bottom of ascent of username and top of
  // x-height of AnnotationBody should be ~15px.
  // Remove additional margin-top added by the first p within
  // the AnnotationBody
  p:first-child {
    margin-top: 0;
  }
  // Margin between bottom of ascent of AnnotationBody and top of
  // ascent of annotation-footer should be ~15px in threaded-replies
  // and 20px in the top level annotation.
  // Remove additional margin-bottom added by the last p within
  // the AnnotationBody
  p:last-child {
    margin-bottom: 1px;
  }

  &__embed {
    width: 100%;

    // Avoid embeds becoming too large when the annotation card is very wide.
    // We can't just use `max-width` because the embed height is set using
    // a CSS hack that sets `height` based on `width`.
    //
    // Therefore we cap the `width` based on the viewport size.
    @media (min-width: 450px) {
      width: 380px;
    }
  }
}
