@use '../../variables' as var;
@use '../../mixins/utils';

.MenuSection__content {
  @include utils.border--bottom;
}

.MenuSection__heading {
  color: var.$color-text--light;
  line-height: 1;
  margin: 1px 1px 0;
  margin-bottom: 10px;
  padding: 12px 10px 0;
  text-transform: uppercase;
}
