@use '@hypothesis/frontend-shared/styles/mixins/focus';

@use '../../mixins/buttons';
@use '../../mixins/layout';
@use '../../mixins/molecules';
@use '../../mixins/utils';
@use '../../variables' as var;

.Menu {
  position: relative;
}

// Toggle button that opens the menu.
.Menu__toggle {
  // Override $coarse-min-size so the button's size won't change in mobile view.
  @include buttons.button--icon-only($coarse-min-size: inherit);
  appearance: none;
  background: none;
  padding: 0;
  // "block" display is needed so it can take up the
  //  full height of its parent container
  display: block;
  height: 100%;
  align-items: center;

  // nb. This selector is nested to ensure it has higher specificity than the
  // default icon size set by the `buttons.button--icon-only` mixin above.
  .Menu__toggle-icon {
    @include utils.icon--xsmall;
  }
}

.Menu__toggle-wrapper {
  @include layout.row($align: center);
  height: 100%;
}

// Triangular indicator next to the toggle button indicating that there is
// an associated drop-down menu.
.Menu__toggle-arrow {
  width: 10px;
  height: 10px;
  margin-left: 5px;

  &.is-open {
    // Flip the indicator when the menu is open.
    transform: rotateX(180deg);
    color: var.$color-text;
  }
}

// Triangular indicator at the top of the menu that associates it with the
// toggle button.
.Menu__arrow {
  @include molecules.menu-arrow;

  // Position the arrow so that it appears flush with the right edge of the
  // content when the menu is right-aligned, and the bottom of the arrow just
  // overlaps the content's border. The effect is that the menu's border is a
  // rounded rect with a notch at the top.
  top: calc(100% - 2px); // nb. Adjust this if changing the <svg> size.
  right: 0;
}

// Content area of the menu.
.Menu__content {
  @include utils.font--large;
  @include utils.border;
  @include utils.shadow;
  @include focus.outline-on-keyboard-focus;
  background-color: white;
  position: absolute;
  top: calc(100% + 5px);
  z-index: 1;

  &--align-left {
    left: 0;
  }

  &--align-right {
    right: 0;
  }
}
