@use '../../variables' as var;
@use '../../mixins/layout';

@at-root {
  // Horizontal margin between edge of annotation card and content
  $h-padding: 15px;

  .ModerationBanner {
    @include layout.row;
    position: relative;
    color: white;
    font-weight: bold;
  }

  // The moderation banner on top-level annotations spans the full width
  // of the annotation card and has rounded top corners to match an un-flagged
  // annotation.
  //
  // The left and right edges of the content are horizontally aligned with the
  // content of the annotation below.
  .ModerationBanner:not(.is-reply) {
    left: -$h-padding;
    padding-bottom: 5px;
    padding-left: $h-padding;
    padding-right: $h-padding - 5px;
    padding-top: 5px;
    top: -$h-padding;
    width: calc(100% + #{$h-padding} * 2);

    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  // The moderation banner on replies is a little more vertically compact. Its
  // right-edge aligns with the right edge of the annotation thread. The left edge
  // is aligned with the left edge of the reply.
  .ModerationBanner.is-reply {
    margin-top: 10px;
    margin-bottom: 5px;
    width: calc(100% + #{$h-padding});

    padding-left: 5px;
    padding-right: $h-padding - 5px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .ModerationBanner.is-flagged:not(.is-hidden) {
    background-color: var.$color-brand;
  }

  .ModerationBanner.is-hidden {
    background-color: var.$grey-6;
  }
}
