@use '../../mixins/responsive';
@use '../../mixins/utils';
@use '../../variables' as var;

.NotebookView {
  display: grid;
  row-gap: var.$layout-space--small;
  // See https://css-tricks.com/preventing-a-grid-blowout/
  grid-template-columns: minmax(0, auto);
  grid-template-areas:
    'heading'
    'filters'
    'results'
    'items';

  &__heading {
    line-height: 1;
    grid-area: heading;
  }

  &__filters {
    grid-area: filters;
    justify-self: start;
  }

  &__results {
    grid-area: results;
  }

  &__items {
    grid-area: items;
  }

  &__group-name {
    font-size: var.$font-size--heading;
    font-weight: bold;
  }

  @include responsive.tablet-and-up {
    row-gap: var.$layout-space--xsmall;
    grid-template-areas:
      'heading heading'
      'filters results'
      'items items';

    &__filters {
      justify-self: start;
    }

    &__results {
      // Align right and bottom
      justify-self: end;
      align-self: flex-end;
    }

    &__messages {
      padding: 1em 0;
    }
  }
}
