@use '../../variables' as var;
@use '../../mixins/layout';

.NotebookResultCount {
  @include layout.horizontal-rhythm;
  // Normalize line height to ensure vertical stability (no jumping around)
  line-height: 1;

  & h2 {
    strong {
      font-weight: bold;
      font-style: normal;
    }
  }

  & h3 {
    font-style: italic;
  }
}
