@use '../../mixins/buttons';
@use '../../mixins/layout';
@use '../../mixins/responsive';
@use '../../mixins/utils';
@use '../../variables' as var;

.PaginationNavigation {
  @include utils.font--large;

  display: grid;
  align-items: center;
  grid-template-areas: 'prevPage nextPage';

  &__prev {
    grid-area: prevPage;
  }

  &__next {
    grid-area: nextPage;
    justify-self: end;
  }

  &__pages {
    // On narrower viewports, there isn't enough room to display all of
    // the numbered page buttons; fall back to just prev and next options
    display: none;
  }

  @include responsive.wide-handheld-and-up {
    // Where there's enough horizontal space,
    // lay out page navigation buttons horizontally as:
    // | prevPage  |       numberedPages          | nextPage
    //
    // e.g.
    // | [<- prev] | [2] ... [5] [6] [7] ... [10] | [next ->] |
    grid-template-columns: 8em auto 8em;
    grid-template-areas: 'prevPage numberedPages nextPage';

    &__pages {
      display: block;
      grid-area: numberedPages;
      @include layout.row($justify: center, $align: center);
      @include layout.horizontal-rhythm(0.5em);
    }
  }
}
