@use '@hypothesis/frontend-shared/styles/components/buttons';

@use '../../mixins/layout';
@use '../../mixins/utils';
@use '../../variables' as var;

.SelectionTabs-container {
  @include layout.vertical-rhythm;
  // FIXME: This should be a margin, and it should be handled by the parent,
  // but needs to be considered carefully because applying vertical rhythm to
  // this component's parent messes with the calculations in the virtualized
  // thread list. Needs another pass. Note also that it is `10px` (and looks
  // unbalanced at the standard vertical rhythm size of `1em`)
  padding-bottom: 10px;
}

.SelectionTabs {
  @include layout.row;
  @include layout.horizontal-rhythm(20px);
}

.SelectionTabs__icon {
  color: var.$grey-mid;
  margin: 0 var.$layout-space--xxsmall;
}

.SelectionTabs__type {
  @include buttons.reset;

  color: var.$color-text;
  cursor: pointer;
  min-width: 85px;
  min-height: 18px;
  // Give the tab a radius to allow :focus styling to appear similar to that of buttons
  border-radius: var.$border-radius;

  user-select: none;

  &:hover {
    color: var.$color-link-hover;
  }
}

.SelectionTabs__type.is-selected {
  font-weight: bold;
}

.SelectionTabs__count {
  @include utils.font--xsmall;
  position: relative;
  bottom: 3px;
}

.SelectionTabs__empty-message {
  position: relative;
  top: 10px;
}

.SelectionTabs__type--orphan {
  margin-left: -5px;
}

.SelectionTabs__message {
  @include utils.border;
  color: var.$color-text;
  padding: 2em;
  text-align: center;
}

/** Clean theme affordances */
#{var.$sidebar--theme-clean} .SelectionTabs {
  margin-left: 15px;
}
