@use '../../variables' as var;
@use '../../mixins/buttons';
@use '../../mixins/forms';
@use '../../mixins/molecules';
@use '../../mixins/utils';

.ShareAnnotationsPanel {
  color: var.$color-text--light;

  &__intro {
    color: var.$color-text;
    font-weight: 500;
  }
}
