@use '../../variables' as var;
@use '../../mixins/layout';
@use '../../mixins/utils';

.TagList {
  @include layout.row;
  flex-wrap: wrap;

  &__item {
    @include utils.border;
    margin: var.$layout-space--xxsmall var.$layout-space--xsmall
      var.$layout-space--xxsmall 0;
    padding: 2px var.$layout-space--xsmall;
    background: var.$grey-0;
    border-radius: var.$border-radius;
  }

  &__link,
  &__text {
    text-decoration: none;
    color: var.$color-text--light;
  }

  &__link {
    &:hover,
    &:focus {
      color: var.$color-brand;
      border-color: var.$grey-4;
    }
  }
}
