@use '../../mixins/molecules';
@use '../../mixins/layout';
@use '../mixins/responsive';
@use '../../variables' as var;

.ToastMessages {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  padding: 0 var.$layout-space--xsmall;

  @include responsive.tablet-and-up {
    // When displaying in a wider viewport (desktop/tablet outside of sidebar)
    max-width: responsive.$break-tablet;
    width: responsive.$break-tablet;
    padding-left: 2rem;
    padding-right: 2rem;
    left: 50%;
    margin-left: calc(-0.5 * #{responsive.$break-tablet});
  }
}

.toast-message-container {
  position: relative;
  width: 100%;
  animation: slidein 0.3s forwards ease-in-out;

  &:hover {
    cursor: pointer;
  }

  &.is-dismissed {
    animation: fadeout 0.3s forwards;
  }
}

.toast-message {
  @include molecules.toast-message;
}

@keyframes slidein {
  0% {
    opacity: 0;
    left: 100%;
  }
  80% {
    left: -10px;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
