@use '../../mixins/buttons';
@use '../../mixins/layout';
@use '../../mixins/utils';
@use '../../variables' as var;

.TopBar {
  @include utils.font--xlarge;
  @include utils.border--bottom;
  color: var.$grey-mid;
  background: var.$white;
  height: var.$top-bar-height;
  @media (pointer: coarse) {
    // Nov-23-2020: removing 4px is an interim solution to increase the size
    // of the annotator-bar buttons without affecting the size of the sidebar
    // https://github.com/hypothesis/client/pull/2745/files#r527824220
    height: var.$touch-target-size - 4px;
  }
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;

  // Force TopBar onto a new compositor layer so that it does not judder when
  // the window is scrolled.
  transform: translate3d(0, 0, 0);

  &__menu-label {
    padding: var.$layout-space--xxsmall;
  }
}

.TopBar__login-button {
  @include buttons.button;
  @include utils.font--large;
  padding: 0 var.$layout-space--xxsmall;
  color: var.$color-brand;

  &:hover {
    color: var.$color-link-hover;
  }

  @media (pointer: coarse) {
    min-width: inherit;
    min-height: inherit;
  }
}

.TopBar__login-links {
  @include layout.row;
  flex-shrink: 0;
}

.TopBar__inner {
  @include layout.sidebar-content;
  @include layout.row(right, center);

  // FIXME: This odd font size rule is because the spinner uses a `1em` dimension
  // and we want to assure it displays at the same dimensions as the other icons
  // in this top bar
  font-size: var.$icon-size--medium;

  // the edges of the TopBar's contents should be aligned
  // with the edges of annotation cards displayed below
  $h-padding: 9px;

  padding-left: $h-padding;
  padding-right: $h-padding;

  height: 100%;
}

.TopBar__inner .GroupList {
  justify-self: flex-start;
  margin-right: auto;
  white-space: nowrap;
}

/** Clean theme affordances */
#{var.$sidebar--theme-clean} .TopBar {
  border-bottom: none;
}
