@use '../../variables' as var;
@use '../../mixins/layout';
@use '../../mixins/responsive';

.VersionInfo {
  // Lay out version info as a column when viewport (sidebar) is narrow
  @include layout.column;

  &__key {
    font-weight: 500;
  }

  &__value {
    color: var.$color-text--light;
  }

  @media only screen and (min-width: 20em) {
    // Change to a layout that puts key-value pairs on a single line
    // when space allows
    @include layout.row;
    // Allow multiple lines of content
    flex-wrap: wrap;

    &__key {
      flex-basis: 25%;
      text-align: right;
    }

    &__value {
      margin-left: 1em; // Space between key and value
      flex-basis: 70%;
      flex-grow: 1;
      overflow-wrap: anywhere; // Keep long userids and urls from overflowing
    }
  }
}
