@use './mixins/a11y';
@use './mixins/layout';
@use './mixins/utils';
@use './variables' as var;

// Utility classes
// Use these classes on elements that don't require additional styling

// Layout

// Establish a flex container with a horizontal flow
.u-layout-row {
  @include layout.row;
}

// Establish a row flex container that aligns its children to (vertical) center
.u-layout-row--align-center,
.u-layout-row--align-middle {
  @include layout.row($align: center);
}

// Establish a row flex container that aligns its children along the baseline
.u-layout-row--align-baseline {
  @include layout.row($align: baseline);
}

// Establish a row flex container justifies its children right
.u-layout-row--justify-right {
  @include layout.row($justify: right);
}

// Establish a row flex container that centers its children
.u-layout-row--justify-center {
  @include layout.row($justify: center);
}

// Use this class to make an element in a flex container "stretchy" and grow
// when there is extra space available.
.u-stretch {
  flex-grow: 1;
}

// Put equal, standard spacing between children horizontally
.u-horizontal-rhythm {
  @include layout.horizontal-rhythm;
}

// Put equal standard spacing between children vertically
.u-vertical-rhythm {
  @include layout.vertical-rhythm;
}

.u-font--large {
  @include utils.font--large;
}

.u-font--xlarge {
  @include utils.font--xlarge;
}
// Icons

// These utilities establish dimensions appropriate for icon elements

// Use for inline icons to size according to text content
.u-icon--inline {
  @include utils.icon--inline;
}

.u-icon--xsmall {
  @include utils.icon--xsmall;
}

.u-icon--small {
  @include utils.icon--small;
}

.u-icon--large {
  @include utils.icon--large;
}

// Misc

// Make element content invisible except to assistive technology
.u-screen-reader-only {
  @include a11y.screen-reader-only;
}

// Use on elements for a de-emphasized, muted text color
.u-color-text--muted {
  color: var.$color-text--light;
}

// TODO: This is a temporary utility class to allow elements in the sidebar
// (e.g. panels, thread cards, etc.)
// to apply margins such that they are evenly spaced. In the future, the
// sidebar markup (DOM structure) should be reorganized and consolidated such
// that is possible to apply vertical-spacing rules to the sidebar container
// (these rules set margins on immediate-child elements).
// This class should be removed once patterns are available for vertical spacing
// and the sidebar element structure can be adjusted.
.u-sidebar-container {
  margin-bottom: 1em;
}
