@use 'sass:color';
@use 'sass:math';

// Greys (layout colors)
// These may be used for non-textual styling of components and elements
$white: #fff !default;

// Interim color variable for migration purposes.
// Used as very-subtle background color for form fields. $grey-1 is too dark.
$grey-0: #fafafa;

$grey-1: #f2f2f2;
$grey-2: #ececec;

$grey-3: #dbdbdb;

$grey-4: #a6a6a6;

// Interim color variable for migration purposes, as the step between `$grey-4`
// and `$grey-5` is large. Represents `base-semi` in proposed future palette,
// minus blue tint.
$grey-semi: #9c9c9c;

// This is the lightest grey admissible on a white, $grey-0 or $grey-1
// background to meet WCAG-AA text contrast requirements.
$grey-5: #737373;

// Interim color variable for migration purposes, as the step between `$grey-5`
// and `$grey-6` is large. Represents `base-mid` in proposed future palette,
// minus blue tint.
// This is the lightest grey admissible on $grey-2, $grey-3
$grey-mid: #595959;

$grey-6: #3f3f3f;

$grey-7: #202020;

// Text colors
$color-text: $grey-7;
$color-text--light: $grey-5;
// Text color when used on a dark background
$color-text--inverted: $grey-1;

// Other colors
$color-success: #00a36d;
$color-notice: #fbc168;
$color-error: #d93c3f;

$color-brand: #bd1c2b;
$color-quote: #58cef4;

$color-shadow: #000000;
$color-shadow--base: color.scale($color-shadow, $alpha: -90%);
$color-shadow--active: color.scale($color-shadow, $alpha: -85%);
$color-shadow--sidebar: color.scale($color-shadow, $alpha: -50%);

$color-focus-outline: #51a7e8;
$color-focus-shadow: color.scale($color-focus-outline, $alpha: -50%);

$color-highlight: rgba(255, 255, 60, 0.4);
$color-highlight-second: rgba(206, 206, 60, 0.4);
$color-highlight-focused: rgba(156, 230, 255, 0.5);

// Scaffolding
// -------------------------
$color-background: $white;

// Links
// -------------------------
$color-link: $color-brand !default;
$color-link-hover: #84141e !default;

// Typography
// -------------------------
$sans-font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
  sans-serif !default;
$mono-font-family: Open Sans Mono, Menlo, DejaVu Sans Mono, monospace !default;

$font-size--xsmall: 10px;
$font-size--small: 11px;
$font-size--medium: 13px;
$font-size--large: 14px;
$font-size--subheading: 16px;
$font-size--heading: 18px;
$line-height: 1.4;

// Minimum font size for <input> fields on iOS. If the font size is smaller than
// this, iOS will zoom into the field when focused.
$touch-input-font-size: 16px;

// Layout spacing
// -------------------------
$layout-space: 1em;
$layout-space--xxsmall: math.div($layout-space, 4);
$layout-space--xsmall: math.div($layout-space, 2);
$layout-space--small: math.div($layout-space * 3, 4);
$layout-space--medium: $layout-space;
$layout-space--large: $layout-space * 2;
$layout-space--xlarge: $layout-space * 4;

// Minimum recommended size for tap targets on mobile.
// This value originated from Apple's Human Interface Guidelines.
$touch-target-size: 44px;

// Other Variables
// -------------------------
$top-bar-height: 40px;
$border-radius: 2px;

$color-border: $grey-3;
$border-width: 1px;

$icon-size--xsmall: 10px;
$icon-size--small: 12px;
$icon-size--medium: 16px;
$icon-size--large: 24px;

// Selectors for applying clean-theme styling
$annotator--theme-clean: '.annotator-frame--theme-clean';
$sidebar--theme-clean: '.theme-clean';

// Annotator-specific values
// -----------------------------------
$annotator-toolbar-width: 33px;

$annotator-base-font-size: 14px;
$annotator-base-line-height: 20px;

$annotator-adder-font-size: 12px;
$annotator-adder-line-height: 1em;

$annotator-bucket-bar-font-size: 10px;

$annotator-border-radius: 4px;

$annotator-shadow--sidebar: 0px 1px 4px color.scale($color-shadow, $alpha: -50%);
$annotator-timing--sidebar-collapse-transition: 150ms;
