.lindy-page-settings-topright {
    position: fixed !important;
    top: 0;
    right: 0;
    z-index: 300;
    padding: 10px;

    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    gap: 5px;
}

.lindy-page-settings-pageadjacent {
    position: absolute !important;
    top: 7px;
    left: calc(
        (100vw - var(--lindy-pagewidth)) / 2 + var(--lindy-pagewidth) - 5px
    );
    z-index: 300;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.lindy-ui-icon {
    width: 20px;
    height: 20px;
    padding: 3px;
    cursor: pointer;
    box-sizing: content-box !important;
    color: #9ca3af !important;
    overflow: visible;
}
.lindy-tooltip:hover > .lindy-ui-icon:hover {
    color: #4b5563 !important;
    filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
}

/* setup tooltips */
.lindy-tooltip {
    position: relative;
}
.lindy-tooltip:before,
.lindy-tooltip:after {
    position: absolute;
    display: block;
    pointer-events: none;

    opacity: 0;
}
.lindy-tooltip:before {
    /* box */
    top: 1px;
    right: calc(100% + 6px);
    padding: 5px 7px;

    content: attr(data-title);
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto !important;
    font-size: 12px;
    font-weight: 600;

    background: white;
    border-radius: 5px;
    color: #4b5563;
    white-space: nowrap;
    filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
}
.lindy-tooltip:after {
    /* arrow */
    top: 7px;
    right: calc(100% - 0px);
    height: 0;
    width: 0;
    content: "";

    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid white;
}

.lindy-tooltip.lindy-fade:after,
.lindy-tooltip.lindy-fade:before {
    transform: translate3d(10px, 0, 0);
    transition: all 0.15s ease-in-out;
}
.lindy-tooltip.lindy-fade:hover:after,
.lindy-tooltip.lindy-fade:hover:before {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.lindy-tooltip-reverse:before {
    right: unset;
    left: calc(100% + 2px);
    transform: translate3d(-10px, 0, 0) !important;
}
.lindy-tooltip-reverse:after {
    transform: translate3d(-10px, 0, 0) scaleX(-1) !important;
    right: -2px;
}
.lindy-tooltip-reverse.lindy-fade:hover:before {
    transform: translate3d(0, 0, 0) !important;
}
.lindy-tooltip-reverse.lindy-fade:hover:after {
    transform: translate3d(0, 0, 0) scaleX(-1) !important;
}

.lindy-theme-popup-container {
    position: relative;
}

/* popup box */
.lindy-theme-popup {
    position: absolute;
    top: -5px;
    right: calc(100% + 10px);
    width: 140px;
    z-index: 300;

    background-color: white;
    color: #9ca3af;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    cursor: auto;

    visibility: hidden;
    opacity: 0;
    transform: translate3d(10px, 0, 0);
    transition: transform 0.15s ease-in, opacity 0.15s ease-in;
}
.lindy-theme-popup-container:hover > .lindy-theme-popup {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.lindy-theme-popup-container:hover > .lindy-ui-icon {
    color: #4b5563 !important;
    filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
}

/* row with plus and minus buttons */
.lindy-plusminus {
    display: flex;
}
.lindy-theme-popup-row-spacer {
    border-top: 2px solid #f3f4f6;
}

/* individual buttons */
.lindy-plusminus > div {
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    font-size: 20px;
    font-weight: 700;
}
.lindy-plusminus:first-child > div:first-child {
    border-top-left-radius: 5px;
}
.lindy-plusminus:first-child > div:last-child {
    border-top-right-radius: 5px;
}
.lindy-plusminus:last-child > div:first-child {
    border-bottom-left-radius: 5px;
}
.lindy-plusminus:last-child > div:last-child {
    border-bottom-right-radius: 5px;
}
.lindy-plusminus > div:hover > svg {
    color: #4b5563 !important;
}
.lindy-plusminus > div:hover {
    background-color: #f9fafb;
}

.lindy-theme-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 40px;
    gap: 12px;
    margin: 0 8px;
}
.lindy-theme-row > div {
    flex-grow: 1;
}
.lindy-theme-button {
    height: 20px;

    border: 3px solid #f3f4f6;
    border-radius: 5px;
    box-sizing: content-box !important;
    cursor: pointer;
}
.lindy-theme-button:hover {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.lindy-active-theme {
    border: 3px solid #d1d5db;
}
#lindy-white-theme-button {
    background-color: white;
}
#lindy-dark-theme-button {
    background-color: #35363a;
}
#lindy-sepia-theme-button {
    background-color: #fed7aa;
}

/* popup arrow */
.lindy-theme-popup:before {
    /* arrow */
    position: absolute;
    top: 10px;
    right: -8px;
    height: 0;
    width: 0;
    content: "";

    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid white;
}
/* spacer under arrow to avoid breaking hover state */
.lindy-theme-popup-container:hover:before {
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    content: "";
    width: 200%;
    height: 300%;
    cursor: auto;
}

@media (prefers-color-scheme: dark) {
    .lindy-ui-icon {
        color: #6b7280 !important;
    }

    .lindy-ui-icon:hover {
        color: #d1d5db !important;
        filter: none;
    }

    .lindy-tooltip:before {
        background: #4b5563;
        color: #d1d5db;
        filter: none;
    }
    .lindy-tooltip:after {
        border-left: 6px solid #4b5563;
    }

    .lindy-theme-popup {
        background-color: #4b5563;
        color: #d1d5db;
        filter: none;
    }
    .lindy-theme-popup-row-spacer {
        border-top: 2px solid #6b7280;
    }
    .lindy-plusminus > div:hover > svg {
        color: #d1d5db !important;
    }
    .lindy-plusminus > div:hover {
        background-color: #6b7280;
    }
    .lindy-theme-popup:before {
        border-left: 8px solid #4b5563;
    }
    .lindy-theme-button {
        border: none;
    }
    .lindy-active-theme {
        border: 3px solid #6b7280;
    }
}
