@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 16px !important;
}

.bottom-review > * {
    background: var(--lindy-background-color) !important;
}

@media (max-width: 1200px) {
    .bottom-container {
        margin-left: 10px !important;
    }
    .bottom-content > * {
        margin-left: 0 !important;
    }
}
