@use '../variables' as var;
@use '../mixins/molecules';
@use '../mixins/buttons';

.NotebookModal {
  &__outer {
    box-sizing: border-box;
    position: fixed;
    // This large zIndex is used to bring the notebook to the front, so it is not
    // hidden by other elements from the host page. It is the same value used by
    // the sidebar
    z-index: 2147483647;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: var.$layout-space;

    // TBD: Actual opacity/overlay we'd like to use
    background-color: rgba(0, 0, 0, 0.5);

    &.is-hidden {
      display: none;
    }
  }

  &__inner {
    position: relative;
    box-sizing: border-box;
    @include molecules.card-frame;
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  &__close-button-container {
    position: absolute;
    right: 0;
    font-size: var.$font-size--heading;
    margin: var.$layout-space--medium;
  }

  &__close-button-container > button {
    cursor: pointer;
  }
}

.NotebookIframe {
  width: 100%;
  height: 100%;
  border: none;
}
