@use 'sass:color';

@use '@hypothesis/frontend-shared/styles/components/buttons' as shared-buttons;

@use '../variables' as var;

@use '../mixins/buttons';
@use '../mixins/layout';
@use '../mixins/utils';

// note: These components CSS classes are nested inside
// .annotator-frame to avoid being overridden by the
// CSS reset styles applied to .annotator-frame, which would otherwise
// have higher specificity
.annotator-frame {
  // the vertical toolbar at the left-edge of the sidebar
  // which provides controls for toggling the sidebar,
  // toggling highlights etc.

  .Toolbar {
    position: absolute;
    left: -(var.$annotator-toolbar-width);
    width: var.$annotator-toolbar-width;
    @media (pointer: coarse) {
      // Nov-23-2020: removing 12px is an interim solution to increase the size
      // of the annotator-bar buttons without affecting the size of the sidebar
      // https://github.com/hypothesis/client/pull/2745/files#r527824220
      left: -(var.$touch-target-size - 12px);
      width: var.$touch-target-size - 12px;
    }
    z-index: 2;
  }

  .Toolbar__buttonbar {
    @include layout.vertical-rhythm(5px);
    margin-top: var.$layout-space--small;
  }

  // Common styling for buttons in the toolbar
  @mixin annotator-button {
    @include buttons.button--icon-only($with-active-state: false);

    // Nov-23-2020: removing 12px is an interim solution to increase the size
    // of the annotator-bar buttons without affecting the size of the sidebar
    // https://github.com/hypothesis/client/pull/2745/files#r527824220
    @media (pointer: coarse) {
      min-width: var.$touch-target-size - 12px;
      min-height: var.$touch-target-size - 12px;
    }
    // These toolbar buttons are slightly lighter than other icon buttons
    color: var.$grey-5;
    background: var.$color-background;
  }

  // Toolbar button with icon
  .Toolbar__button {
    @include annotator-button;
    @include utils.shadow;
    @include utils.border;
    border-radius: var.$annotator-border-radius;
  }

  // Control to collapse/expand the sidebar
  .Toolbar__sidebar-toggle {
    @include annotator-button;
    @include utils.border--left;
    @include utils.border--bottom;
    // Precise positioning of expand/collapse icon
    padding-left: 2px;
    // Make the button fill the entire width of the toolbar and the
    // entire height of the top bar
    width: var.$annotator-toolbar-width;
    height: var.$top-bar-height;
    // Lighten the icon color
    color: var.$grey-semi;
  }

  /** Visible with clean theme */
  .Toolbar__sidebar-close {
    @include shared-buttons.reset;
    @include buttons.button-hover;
    @include utils.border;
    border-right-width: 0;
    background: var.$color-background;
    box-shadow: var.$annotator-shadow--sidebar;
    color: var.$grey-5;
    // Precise positioning of close button
    padding: 1px 6px;
    width: 27px;
    height: 27px;
    margin-top: 140px;
    margin-left: 6px;
  }
}
