.lindy-page-settings-topright,
.lindy-page-settings-pageadjacent {
    --background-color: rgb(33, 33, 33);
    --text-color: #bdbdbd;
    --color-muted: #525252;
}


.lindy-tooltip.lindy-tooltip:hover > .lindy-ui-icon,
.lindy-theme-popup-container.lindy-theme-popup-container:hover
    > .lindy-ui-icon {
    filter: none;
}

.lindy-tooltip.lindy-tooltip:before {
    filter: none;
}

.lindy-theme-popup.lindy-theme-popup {
    filter: none;
}

.lindy-plusminus.lindy-plusminus > div:hover > svg {
    color: #d1d5db !important;
}
.lindy-plusminus.lindy-plusminus > div:hover {
    background-color: #262626;
}
.lindy-theme-popup-row-spacer {
    border-top: 2px solid #262626;
}
.lindy-theme-button {
    border: 2.5px solid #525252;
}
.lindy-active-theme {
    border: 2.5px solid var(--text-color);
}
