.lindy-page-settings-toprght,
.lindy-page-settings-pageadjacent {
    --background-color: white;
    --text-color: #374151;
    --color-muted: #9ca3af;

    visibility: visible !important; /* show only once CSS applies */
}

.lindy-page-settings-toprght {
    all: revert;
    position: fixed !important;
    top: 0;
    right: 0;
    z-index: 300;
    padding: 9px;
    contain: layout style;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 1;
    gap: 5px;
}
.lindy-page-settings-pageadjacent {
    all: revert;
    position: absolute !important;
    top: 7px;
    left: calc(
        (100vw - var(--lindy-pagewidth)) / 2 + var(--lindy-pagewidth) - 5px
    );
    z-index: 101;
    padding: 10px;
    contain: layout style;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;

    transition: left 0.2s ease-in-out;
}
.lindy-page-settings-toprght, .lindy-page-settings-pageadjacent {
    animation: fadeInIcons 0.3s cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
}
@keyframes fadeInIcons {
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

#lindy-info-topleft {
    all: initial;
    position: fixed;
    top: 0;
    left: 0;
    /* margin inside iframe to render shadow */
    height: calc(100vh - 10px);
    user-select: none;
    contain: strict;
    z-index: 300;

    width: 400px;
    max-width: calc((100vw - var(--lindy-pagewidth)) / 2 - 5px); /* also set via inline styles to prevent initial transition */

    transition: max-width 0.2s cubic-bezier(0.33, 1, 0.68, 1);
    animation: fadeInOutline 0.2s cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
}
@keyframes fadeInOutline {
    from {
        visibility: hidden;
        opacity: 0;
        transform: translate3d(-200px, 0, 0);
    }
    to {
        visibility: visible;
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
#lindy-info-topleft.lindy-overlay-fadeout {
    visibility: hidden;
    opacity: 0;
    transform: translate3d(-200px, 0, 0);
    animation: none;
}

@media (max-width: 1200px) {
    #lindy-info-topleft {
        display: none !important;
    }
    #lindy-annotations-bar {
        left: calc(var(--lindy-pagewidth) + 20px + 5px);
        width: calc(100vw - (var(--lindy-pagewidth) + 20px + 5px) - 50px);
    }
    .lindy-page-settings-pageadjacent {
        left: calc(var(--lindy-pagewidth) + 20px + 0px) !important;
    }
}
