html.pageview {
    background: #f1f3f4 !important;
}

html.pageview.pageview > body {
    /* animation properties are set inline */
    position: relative !important;

    width: 100% !important;
    min-width: 0 !important;
    max-width: var(--lindy-pagewidth) !important;
    margin: 8px auto !important;
    box-sizing: border-box !important; /* reduce inner width if there's padding */
    opacity: 1 !important;
    visibility: visible !important;

    border-radius: 10px !important;
    /* margins are also set inline in body.js for higher specifity */
    padding: 30px 50px !important;

    cursor: auto !important;
    left: 0 !important;
    top: 0 !important;

    transition: background 0.3s ease-in-out !important;
}

/* needs to override text container children selector */
#lindy-body-background:not(#fakeID#fakeID#fakeID#fakeID#fakeID) {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    max-width: none !important;
    z-index: -100 !important;
    content: "" !important;
    background: inherit !important;
    transition: transform 0.4s cubic-bezier(0.33, 1, 0.68, 1),
        background 0.4s cubic-bezier(0.33, 1, 0.68, 1) !important; /* easeOutCubic */
    will-change: transform, background !important;

    border-radius: 10px !important;
}

.lindy-toast {
    position: fixed !important;
    contain: layout style !important;
    top: 10px !important;
    right: 10px !important;
    z-index: 9999999999 !important;
    border-radius: 8px !important;
    background-color: #facc15 !important;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important; /* shadow-lg */
    cursor: pointer !important;
    overflow: hidden !important;

    transform: translate3d(0, 0, 0) scale(100%);
    transition: transform 0.2s ease-in-out !important;

    animation: toastTimeout 5s !important;
    animation-delay: 0.5s !important;
    animation-fill-mode: both !important;
}
@keyframes toastTimeout {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translate3d(200px, 0, 0) scale(100%);
    }
    5% {
        visibility: visible;
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(100%);
    }
    95% {
        visibility: visible;
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(100%);
    }
    100% {
        visibility: hidden;
        opacity: 0;
        transform: translate3d(10px, 0, 0) scale(100%);
    }
}
.lindy-toast:hover {
    animation-play-state: paused !important;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
    /* transform: translate3d(0, 0, 0) scale(95%) !important; */
}
.lindy-toast.lindy-toast-dismissed {
    visibility: hidden !important;
    opacity: 0 !important;
    transform: translate3d(10px, 0, 0) !important;
    /* dismiss fadeout transition not working at the moment */
}

.lindy-toast-content {
    padding: 4px 6px !important;
    padding-bottom: 0 !important;
    display: flex !important;
    gap: 4px !important;
    align-items: center !important;
}
.lindy-toast-icon {
    width: 28px !important;
    color: #1f2937 !important; /* text-gray-800 */
}
.lindy-toast-message {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto !important;
    font-size: 15px !important;
    color: #1f2937 !important; /* text-gray-800 */
    margin-top: -4px !important;
    padding: 10px !important;
}

.lindy-toast-progressbar {
    height: 4px !important;
    background-color: #faf3ce !important;

    animation: toastProgressBar 5s linear !important;
    animation-delay: 0.5s !important;
    animation-fill-mode: both !important;
}
.lindy-toast:hover > .lindy-toast-progressbar {
    animation-play-state: paused !important;
}
@keyframes toastProgressBar {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

#lindy-annotations-bar {
    position: absolute !important;
    top: 8px !important;
    left: calc((100vw - var(--lindy-pagewidth)) / 2 + var(--lindy-pagewidth) - 5px) !important;
    width: calc((100vw - var(--lindy-pagewidth)) / 2 - 50px) !important;
    height: calc(100% - 50px - 50px) !important;
    user-select: none !important;
    contain: strict style !important;
    z-index: 1000 !important;
}

#lindy-annotations-marginbar {
    position: absolute !important;
    top: 0 !important;
    height: 100% !important;

    right: 15px !important;

    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto !important;
    color: #374151 !important;
}
#lindy-annotations-marginbar > div {
    position: absolute !important;
    right: 0 !important;
    /* top and height set via JS */
}
.lindy-marginbar-dot {
    content: "" !important;
    display: block !important;
    width: 10px !important;
    height: 10px !important;
    /* border-radius: 5px !important; */
    border-radius: 50% !important;
    filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05)) !important;
    background-color: var(--darker-annotation-color) !important;

    cursor: pointer !important;
    animation: fadeInDot 0.15s linear !important;
}

.lindy-highlight {
    cursor: pointer !important;
    background-color: var(--annotation-color) !important;
    transition: background-color 0.15s linear !important;
}
.lindy-highlight {
    /* -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone; */
    /* padding: 0.25em 0px !important; */
    /* border-radius: 2px !important; */

    /* box-shadow: 0.25em 0 0 var(--annotation-color), -0.25em 0 0 var(--annotation-color) !important; */
}
.lindy-highlight.lindy-hover {
    background-color: var(--darker-annotation-color) !important;
    /* box-shadow: 0.25em 0 0 var(--darker-annotation-color), -0.25em 0 0 var(--darker-annotation-color) !important; */
}

.lindy-crowd-highlight {
    transition: background-color 0.15s linear, text-decoration 0.15s linear !important;

    --annotation-color: transparent !important;
    text-decoration: underline solid var(--annotation-color) 0.15em !important;
    text-underline-offset: 0.05em !important;
    text-decoration-skip-ink: none !important;
    cursor: pointer !important;
}
.lindy-crowd-highlight.lindy-hover {
    background-color: var(--annotation-color) !important;
    text-decoration-color: transparent !important;
}

.lindy-highlight-dot {
    position: relative !important;
    top: -0.3em !important;
    left: 0.1em !important;

    content: "" !important;
    display: inline-block !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05)) !important;
    background-color: var(--darker-annotation-color) !important;

    cursor: pointer !important;
    animation: fadeInDot 0.15s linear !important;
}
@keyframes fadeInDot {
    from {
        opacity: 0;
        width: 0px;
        height: 0px;
    }
    to {
        opacity: 1;
        width: 10px;
        height: 10px;
    }
}

@media (max-width: 1200px) {
    html.pageview > body {
        margin-left: 20px !important; /* also set via inline styles */
    }
}
@media print {
    .lindy-overlay-elem,
    #lindy-body-background:not(#fakeID#fakeID#fakeID#fakeID#fakeID#fakeID) {
        display: none !important;
    }

    /* html.pageview {
        --lindy-pagewidth: 100vw !important;
    }
    body:not(#fakeID#fakeID#fakeID#fakeID#fakeID#fakeID) {
        margin: 0 !important;
    } */
}

.lindy-smart-highlight {
    cursor: pointer !important;
    border-radius: 2px !important;

    /* transition: background-color 0.15s ease-in-out !important; */
    animation: fadeInSmartHighlight 0.15s ease-in-out !important;
    animation-fill-mode: both !important;
}
.lindy-smart-highlight-container:not(#fakeID#fakeID#fakeID#fakeID) {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    /* contain: strict !important; */
}
@keyframes fadeInSmartHighlight {
    from {
        background: transparent;
    }
    to {
        background: var(--annotation-color);
    }
}
