html.pageview {
    background: #f1f3f4 !important;
}

html.pageview.pageview > body {
    /* animation properties are set inline */
    position: relative !important;

    width: 100% !important;
    min-width: 0 !important;
    max-width: var(--lindy-pagewidth) !important;
    margin: 8px auto !important;
    box-sizing: border-box !important; /* reduce inner width if there's padding */
    opacity: 1 !important;
    visibility: visible !important;

    border-radius: 10px !important;
    /* margins are also set inline in body.js for higher specifity */
    padding: 30px 50px !important;

    cursor: auto !important;
    left: 0 !important;
    top: 0 !important;

    transition: background 0.3s ease-in-out !important;
}

/* needs to override text container children selector */
#lindy-body-background:not(#fakeID#fakeID#fakeID#fakeID#fakeID) {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    max-width: none !important;
    z-index: -100 !important;
    content: "" !important;
    background: inherit !important;
    transition: transform 0.4s cubic-bezier(0.33, 1, 0.68, 1),
        background 0.4s cubic-bezier(0.33, 1, 0.68, 1) !important; /* easeOutCubic */
    will-change: transform, background !important;

    border-radius: 10px !important;
}

#lindy-article-badge {
    all: initial !important;
    position: fixed !important;
    z-index: 9999999999 !important;
    contain: layout style !important;

    top: 0 !important;
    right: 15px !important;
}

#lindy-annotations-bar {
    position: absolute !important;
    top: 8px !important;
    left: calc((100vw - var(--lindy-pagewidth)) / 2 + var(--lindy-pagewidth) - 5px) !important;
    width: calc((100vw - var(--lindy-pagewidth)) / 2 - 50px) !important;
    height: calc(100% - 50px - 50px) !important;
    user-select: none !important;
    contain: strict !important;
    z-index: 1000 !important;
}

#lindy-annotations-marginbar {
    position: absolute !important;
    top: 0 !important;
    height: 100% !important;

    right: 15px !important;

    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto !important;
    color: #374151 !important;
}
#lindy-annotations-marginbar > div {
    position: absolute !important;
    right: 0 !important;
    /* top and height set via JS */
}
.lindy-marginbar-dot {
    content: "" !important;
    display: block !important;
    width: 10px !important;
    height: 10px !important;
    /* border-radius: 5px !important; */
    border-radius: 50% !important;
    filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05)) !important;
    background-color: var(--darker-annotation-color) !important;

    cursor: pointer !important;
    animation: fadeInDot 0.15s linear !important;
}

.lindy-highlight {
    cursor: pointer !important;
    background-color: var(--annotation-color) !important;
    transition: background-color 0.15s linear !important;
}
.lindy-highlight {
    /* -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone; */
    /* padding: 0.25em 0px !important; */
    /* border-radius: 2px !important; */

    /* box-shadow: 0.25em 0 0 var(--annotation-color), -0.25em 0 0 var(--annotation-color) !important; */
}
.lindy-highlight.lindy-hover {
    background-color: var(--darker-annotation-color) !important;
    /* box-shadow: 0.25em 0 0 var(--darker-annotation-color), -0.25em 0 0 var(--darker-annotation-color) !important; */
}

.lindy-crowd-highlight {
    transition: background-color 0.15s linear, text-decoration 0.15s linear !important;

    --annotation-color: transparent !important;
    text-decoration: underline solid var(--annotation-color) 0.15em !important;
    text-underline-offset: 0.05em !important;
    text-decoration-skip-ink: none !important;
    cursor: pointer !important;
}
.lindy-crowd-highlight.lindy-hover {
    background-color: var(--annotation-color) !important;
    text-decoration-color: transparent !important;
}

@media (max-width: 1200px) {
    html.pageview > body {
        margin-left: 20px !important; /* also set via inline styles */
    }
}
@media print {
    .lindy-overlay-elem,
    #lindy-body-background:not(#fakeID#fakeID#fakeID#fakeID#fakeID#fakeID) {
        display: none !important;
    }

    /* html.pageview {
        --lindy-pagewidth: 100vw !important;
    }
    body:not(#fakeID#fakeID#fakeID#fakeID#fakeID#fakeID) {
        margin: 0 !important;
    } */
}

.lindy-smart-highlight,
.lindy-smart-highlight-scroll {
    /* border-radius: 2px !important; */

    animation: fadeInSmartHighlight 200ms cubic-bezier(0.34, 1.56, 0.64, 1) !important; /* easeOutBack */
    animation-fill-mode: both !important;
}
.lindy-smart-highlight-scroll {
    position: fixed !important;
    right: 0 !important;
    width: 15px !important;
    height: 4px !important;
}
@keyframes fadeInSmartHighlight {
    from {
        background: transparent;
    }
    to {
        background: var(--annotation-color);
    }
}
