html {
    min-width: 550px;
    min-height: 100px;
    overflow-x: hidden; /* Required to hide horizontal scroll on Firefox */
}

/* For use with screen readers */
.sr-only {
    display: none;
}

/* Hide spinbox for number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"],
input[type="text"] {
    padding: 0.25rem 0.375rem;
}
