@tailwind base;
@tailwind components;
@tailwind utilities;

/* page popularity chart */
.recharts-area {
    transform: translate(0, 30%);
}

.recharts-cartesian-axis-line {
    display: none;
}
.recharts-cartesian-axis-tick-line {
    display: none;
}
.recharts-xAxis {
    transform: translate(0, -30%);
    z-index: 20;
}


/* annotation list */
.annotation-group-item:not(:first-child)::before {
    height: 5px;
    width: 100%;
    display: block;
    content: "";
    position: relative;

    background: linear-gradient(to top, #e5e7eb, rgba(0, 0, 0, 0));
}

.annotation > .top-icons {
    visibility: hidden;
    opacity: 0;
}
.annotation:hover > .top-icons {
    visibility: visible;
    opacity: 1;
}

.annotation > .info-bar > .upvote-button, 
.annotation > .info-bar > .reply-button {
    visibility: hidden;
    opacity: 0;
}
.annotation:hover > .info-bar > .upvote-button,
.annotation:hover > .info-bar > .reply-button {
    visibility: visible;
    opacity: 1;
}

.annotation {
    background-color: var(--lindy-background-color) !important;
}
