img {
    mix-blend-mode: difference !important;
    /* filter: brightness(80%) !important; */
}

/* https://en.wikipedia.org/wiki/Secretary_problem */
.mwe-math-fallback-image-inline {
    filter: invert(1);
}

/* https://www.vladionescu.me/posts/scaling-containers-on-aws-in-2022/ */
* {
    /* color: unset !important; https://9fans.github.io/plan9port/man/man1/rc.html */
    /* background-color: unset !important; causes issues for smart highlights */
}
