{
  "presets": [
    ["@babel/preset-env", {
       "targets": {
         "chrome": "40",
         "firefox": "38",
         "safari": "9",
         "ie": "11"
      }
    }]
  ],
  "plugins": [
    "transform-async-to-promises"
  ]
}
