/* --lindy-dark-theme-text-color and background color injected from common/theme.ts */

/* use same colors as in source/overlay/indexDark.css */

body {
    background-color: #131516 !important;
}

.app {
    color: var(--lindy-dark-theme-text-color) !important;
}
.annotation > textarea::placeholder {
    color: #757575 !important;
}

.annotation {
    border-color: var(--dark-border-color) !important;
}
