@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-size: 15px;
}

/* page popularity chart */
.recharts-area {
    transform: translate(0, 30%);
}

.recharts-cartesian-axis-line {
    display: none;
}
.recharts-cartesian-axis-tick-line {
    display: none;
}
.recharts-xAxis {
    transform: translate(0, -30%);
    z-index: 20;
}

.annotation {
    background-color: var(--lindy-background-color) !important;
}

.annotation > .top-icons > div:not(.visible) {
    visibility: hidden;
    opacity: 0;
}
.annotation:hover > .top-icons > div,
.annotation.focused > .top-icons > div {
    visibility: visible;
    opacity: 1;
}

svg.icon > path {
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 10px;
}

.annotation-list-item {
    transition: top 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}
.annotation-list-item-enter {
    opacity: 0;
    transform: translate(150px);
}
.annotation-list-item-enter-active {
    opacity: 1;
    transform: translate(0);

    transition: opacity 0.2s cubic-bezier(0.16, 1, 0.3, 1),
        transform 0.2s cubic-bezier(0.16, 1, 0.3, 1); /* easeOutExpo */
}
.annotation-list-item-exit {
    opacity: 1;
    transform: translate(0);
}
.annotation-list-item-exit-active {
    opacity: 0;
    transform: translate(50px);

    transition: opacity 0.1s cubic-bezier(0.32, 0, 0.67, 0),
        transform 0.1s cubic-bezier(0.32, 0, 0.67, 0); /* easeInCubic */
}
.related-annotation {
    animation: relatedAnnotationIn 0.2s cubic-bezier(0.33, 1, 0.68, 1) 10ms; /* easeOutCubic */
    animation-fill-mode: backwards;
}
@keyframes relatedAnnotationIn {
    from {
        opacity: 0;
        transform: scale(90%);
    }
    to {
        opacity: 1;
        transform: scale(100%);
    }
}

.animated-number > .before-value {
    display: none;
}
.animated-number > .after-value {
    animation: animateNumberIn 0.4s cubic-bezier(0.5, 1, 0.89, 1) 50ms; /* easeOutQuad */
    animation-fill-mode: both;
}
@keyframes animateNumberOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}
@keyframes animateNumberIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.annotation-tag {
    animation: animateNumberIn 0.2s cubic-bezier(0.5, 1, 0.89, 1); /* easeOutQuad */
    animation-fill-mode: both;
}
