@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-size: 15px;
}

/* page popularity chart */
.recharts-area {
    transform: translate(0, 30%);
}

.recharts-cartesian-axis-line {
    display: none;
}
.recharts-cartesian-axis-tick-line {
    display: none;
}
.recharts-xAxis {
    transform: translate(0, -30%);
    z-index: 20;
}

.annotation {
    background-color: var(--lindy-background-color) !important;
}

.annotation > .top-icons > div:not(.visible) {
    visibility: hidden;
    opacity: 0;
}
.annotation:hover > .top-icons > div,
.annotation.focused > .top-icons > div {
    visibility: visible;
    opacity: 1;
}

svg.icon > path {
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 10px;
}

.annotation-list-item {
    transition: top 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}
.annotation-list-item-enter {
    opacity: 0;
    transform: scale(95%);
}
.annotation-list-item-enter-active {
    opacity: 1;
    transform: scale(100%);

    transition: opacity 0.15s cubic-bezier(0.33, 1, 0.68, 1) 10ms,
        transform 0.15s cubic-bezier(0.33, 1, 0.68, 1) 10ms; /* easeOutCubic */
}
.annotation-list-item-exit {
    opacity: 1;
    transform: scale(100%);
}
.annotation-list-item-exit-active {
    opacity: 0;
    transform: scale(95%);

    transition: opacity 0.1s cubic-bezier(0.32, 0, 0.67, 0),
        transform 0.1s cubic-bezier(0.32, 0, 0.67, 0); /* easeInCubic */
}
/* .related-annotation {
    animation: relatedAnnotationIn 0.2s cubic-bezier(0.33, 1, 0.68, 1) 10ms;
    animation-fill-mode: backwards;
}
@keyframes relatedAnnotationIn {
    from {
        opacity: 0;
        transform: scale(90%);
    }
    to {
        opacity: 1;
        transform: scale(100%);
    }
} */

.animated-number > .before-value {
    display: none;
}
.animated-number > .after-value {
    animation: animateNumberIn 0.4s cubic-bezier(0.5, 1, 0.89, 1) 50ms; /* easeOutQuad */
    animation-fill-mode: both;
}
@keyframes animateNumberOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}
@keyframes animateNumberIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.annotation-tag {
    animation: animateNumberIn 0.2s cubic-bezier(0.5, 1, 0.89, 1); /* easeOutQuad */
    animation-fill-mode: both;
}

/* 3rd spinner on https://cssloaders.github.io/ */
.loader {
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}
.loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 1.5px solid currentColor;
    animation: prixClipFix 3s linear infinite;
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
}
