@tailwind base;
@tailwind components;
@tailwind utilities;

/* page popularity chart */
.recharts-area {
    transform: translate(0, 30%);
}

.recharts-cartesian-axis-line {
    display: none;
}
.recharts-cartesian-axis-tick-line {
    display: none;
}
.recharts-xAxis {
    transform: translate(0, -30%);
    z-index: 20;
}

.annotation {
    background-color: var(--lindy-background-color) !important;
}

.annotation > .top-icons > div:not(.visible) {
    visibility: hidden;
    opacity: 0;
}
.annotation:hover > .top-icons > div,
.annotation.focused > .top-icons > div {
    visibility: visible;
    opacity: 1;
}

.annotation > .info-bar > .upvote-button,
.annotation > .info-bar > .reply-button {
    visibility: hidden;
    opacity: 0;
}
.annotation:hover > .info-bar > .upvote-button,
.annotation:hover > .info-bar > .reply-button {
    visibility: visible;
    opacity: 1;
}

svg.icon > path {
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 10px;
}

/* setup tooltips (adapted from overlay css) */
.lindy-tooltp {
    position: relative;

    --background-color: var(--lindy-background-color);
    --text-color: #1f2937; /* text-gray-800 */
}
.lindy-tooltp:before,
.lindy-tooltp:after {
    position: absolute;
    display: block;
    pointer-events: none;

    opacity: 0;
}
.lindy-tooltp:before {
    /* box */
    top: -6px;
    right: calc(100% + 9px);
    padding: 6px 8px;

    display: block;
    content: attr(data-title);
    font-size: 13px;

    background: var(--background-color);
    color: var(--text-color);
    border-radius: 5px;
    white-space: nowrap;
    /* filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06)); */

    font-family: Poppins, sans-serif;
    line-height: 1;
    font-weight: 600;
}
.lindy-tooltp:after {
    /* arrow */
    top: 0px;
    right: calc(100% + 3px);
    height: 0;
    width: 0;
    content: "";

    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid var(--background-color);
}
.lindy-tooltp.lindy-fade:after,
.lindy-tooltp.lindy-fade:before {
    transform: translate3d(10px, 0, 0);
    transition: all 0.15s ease-in-out;
}
.lindy-tooltp.lindy-fade:hover:after,
.lindy-tooltp.lindy-fade:hover:before {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.crowd-annotation-dot {
    /* keep in sync with .lindy-crowd-highlight:after style in pageview/content.css */
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
}
.crowd-annotation-dot.hn {
    background: rgba(255, 102, 0, 0.8);
}
.crowd-annotation-dot.h {
    background: rgba(189, 28, 43, 0.8);
}

.annotation-list-item {
    transition: top 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}
.annotation-list-item-enter {
    opacity: 0;
    transform: translate(150px);
}
.annotation-list-item-enter-active {
    opacity: 1;
    transform: translate(0);

    transition: opacity 0.2s cubic-bezier(0.16, 1, 0.3, 1),
        transform 0.2s cubic-bezier(0.16, 1, 0.3, 1); /* easeOutExpo */
}
.annotation-list-item-exit {
    opacity: 1;
    transform: translate(0);
}
.annotation-list-item-exit-active {
    opacity: 0;
    transform: translate(50px);

    transition: opacity 0.1s cubic-bezier(0.32, 0, 0.67, 0),
        transform 0.1s cubic-bezier(0.32, 0, 0.67, 0); /* easeInCubic */
}

.animated-number > .before-value {
    display: none;
}
.animated-number > .after-value {
    animation: animateNumberIn 0.4s cubic-bezier(0.5, 1, 0.89, 1) 50ms; /* easeOutQuad */
    animation-fill-mode: both;
}
@keyframes animateNumberOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}
@keyframes animateNumberIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.annotation-tag {
    animation: animateNumberIn 0.2s cubic-bezier(0.5, 1, 0.89, 1); /* easeOutQuad */
    animation-fill-mode: both;
}
