// Hide content from sighted users but make it visible to screen readers.
//
// Resources:
// - https://webaim.org/techniques/css/invisiblecontent/ (see "CSS clip")
// - https://cloudfour.com/thinks/see-no-evil-hidden-content-and-accessibility/#showing-additional-content-for-screen-readers
@mixin screen-reader-only {
  // Take the content out of the normal layout flow.
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;

  // Visually hide the content and prevent it from interfering with mouse/touch
  // text selection by clipping it to an empty box. Compared to moving content with
  // `top`/`left` this is less likely to cause the browser to scroll to a
  // different part of the page when the hidden text has screen-reader focus.
  clip: rect(0 0 0 0);
  overflow: hidden;
}
