@use '@hypothesis/frontend-shared/styles/mixins/focus';

@use './utils';
@use '../variables' as var;

/* Style input placeholders */
@mixin placeholder {
  &.placeholder {
    @content;
  }
  &:placeholder {
    @content;
  }
  &::placeholder {
    @content;
  }
}

@mixin form-input-focus {
  background-color: var.$white;

  @include placeholder {
    color: var.$color-text--light;
  }
}

/**
 * A text input field.
 *
 * @param {boolean} [$compact] - Style for a compact space, with tighter padding
 */
@mixin form-input($compact: false) {
  @if $compact {
    @include utils.font--small;
    padding: var.$layout-space--xsmall;
  } @else {
    @include utils.font--medium;
    padding: var.$layout-space--xsmall var.$layout-space--small;
  }

  @include utils.border;
  @include focus.outline;
  border-radius: var.$border-radius;
  color: var.$color-text--light;
  background-color: var.$grey-0;
  // Tighten up spacing around text in input
  line-height: 1;

  &:focus {
    @include form-input-focus;
  }

  @media (pointer: coarse) {
    font-size: var.$touch-input-font-size;
  }
}
