@use './responsive';
@use '../variables' as var;

@mixin sidebar-content {
  margin-left: auto;
  margin-right: auto;

  @include responsive.respond-to(tablets desktops) {
    margin: auto;
    max-width: responsive.$break-tablet;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
/**
 * Abstract mixin for establishing basic flex container. External users should
 * use `row` or `column` as needed. Default values here reflect default CSS
 * values for flex rules.
 *
 * @param {string} $direction [row] - value for flex-direction (row or column).
 * @param {string} $justify [flex-start] - How to align contents on main axis.
 *                                    Accepts and maps special value of 'right'
 *                                   (roughly analogous to horizontal alignment)
 * @param {string} $align [stretch] - How to align contents on cross axis.
 *                                    (roughly analogous to vertical alignment)
 */
@mixin flex($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;

  @if $justify == right {
    justify-content: flex-end;
  } @else {
    justify-content: $justify;
  }
  align-items: $align;
}

/**
 * Establish a column (flex-direction: column) flex container.
 *
 * @param {string} $justify [flex-start] - How to justify flex contents
 * @param {string} $align [stretch] - How to align flex contents
 */
@mixin column($justify: flex-start, $align: stretch) {
  @include flex(column, $justify, $align);
}

/**
 * Establish a row (flex-direction: column) flex container.
 *
 * @param {string} $justify [flex-start] - How to justify flex contents
 * @param {string} $align [stretch] - How to align flex contents
 */
@mixin row($justify: flex-start, $align: stretch) {
  @include flex(row, $justify, $align);
}

/**
 * Establish a horizontal (margin) rhythm for this element's immediate
 * children (i.e. put equal space between children).
 *
 * This mixin uses `!important` such that it can compete with specificity
 * of reset rules that set some of our element's margins to 0. That allows
 * these rules—which are applied to a parent element—to be able to assert
 * margins, as it should be able to do.
 *
 * @param $size [5px] - Size of horizontal margin between child elements
 */
@mixin horizontal-rhythm($size: 5px) {
  & > * + * {
    margin-left: $size !important;
  }
}

/**
 * Establish a vertical (margin) rhythm for this element's immediate
 * children (i.e. put equal space between children).
 *
 * This mixin uses `!important` such that it can compete with specificity
 * of reset rules that set some of our element's margins to 0. That allows
 * these rules—which are applied to a parent element—to be able to assert
 * margins, as it should be able to do.
 *
 * @param $size [var.$layout-space--medium]: Spacing size (padding)
 * @FIXME Find workaround for SvgIcon exception
 */
@mixin vertical-rhythm($size: var.$layout-space) {
  & > * + *:not([class*='SvgIcon--inline']) {
    margin-top: $size !important;
  }
}

/**
 * Establish vertical space outside of elements within the container
 *
 * @param $size [var.$layout-space--medium]: Spacing size (padding)
 */
@mixin vertical-space($size: var.$layout-space--medium) {
  padding-top: $size;
  padding-bottom: $size;
}

/**
 * Establish horizontal space outside of elements within the container
 *
 * @param $size [var.$layout-space--medium]: Spacing size (padding)
 */
@mixin horizontal-space($size: var.$layout-space--medium) {
  padding-left: $size;
  padding-right: $size;
}
