@use '../variables' as var;

@mixin border {
  border: var.$border-width solid var.$color-border;
}

@mixin border--top {
  border-top: var.$border-width solid var.$color-border;
}

@mixin border--right {
  border-right: var.$border-width solid var.$color-border;
}

@mixin border--bottom {
  border-bottom: var.$border-width solid var.$color-border;
}

@mixin border--left {
  border-left: var.$border-width solid var.$color-border;
}

@mixin icon--xsmall {
  width: var.$icon-size--xsmall;
  height: var.$icon-size--xsmall;
}

// TODO: This may be only applicable to mobile devices, and maybe should be
// conflated into icon--xsmall
@mixin icon--small {
  width: var.$icon-size--small;
  height: var.$icon-size--small;
}

@mixin icon--medium {
  width: var.$icon-size--medium;
  height: var.$icon-size--medium;
}

@mixin icon--large {
  width: var.$icon-size--large;
  height: var.$icon-size--large;
}

@mixin icon--inline {
  width: 1em;
  height: 1em;
}

@mixin font-base {
  line-height: var.$line-height;
  font-weight: normal;
  color: var.$color-text;
}

@mixin font--xsmall {
  @include font-base;
  font-size: var.$font-size--xsmall;
}

@mixin font--small {
  @include font-base;
  font-size: var.$font-size--small;
}

@mixin font--medium {
  @include font-base;
  font-size: var.$font-size--medium;
}

@mixin font--large {
  @include font-base;
  font-size: var.$font-size--large;
  font-weight: 500;
}

@mixin font--xlarge {
  @include font-base;
  font-size: var.$font-size--subheading;
  font-weight: 500;
}

@mixin shadow {
  box-shadow: 0 1px 1px var.$color-shadow--base;
}

@mixin shadow--active {
  box-shadow: 0px 2px 3px 0px var.$color-shadow--active;
}
