#lindy-info-topleft-content {
    /* --lindy-dark-theme-text-color and background color injected from common/theme.ts */

    color: var(--lindy-dark-theme-text-color) !important;
}

.heading-text.visited {
    color: #52525b !important;
}

svg.message-icon {
    color: #e5e7eb !important; /* text-gray-200 */
}

.close-message {
    color: #9ca3af !important; /* text-gray-400 */
}
.close-message:hover {
    color: white !important;
}
