html {
	background: radial-gradient(
		rgb(229 231 235) 0px,
		rgb(243 244 246) 2px
	) !important;
	background-size: 25px 25px !important;
}

body {
	width: 100%;
	margin: 0px;
	background: white;

	filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
		drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));

	/* easeOutExpo from easings.net */
	transition: margin-top 0.15s cubic-bezier(0.16, 1, 0.3, 1),
		margin-left 0.3s cubic-bezier(0.16, 1, 0.3, 1),
		width 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

body.pageview {
	width: 60% !important;
	margin: 20px !important;

	border-radius: 10px !important;
	overflow-x: hidden !important;
}

/* body * {
	overflow: hidden;
} */

.sidebar {
	position: absolute;
	top: 0;
	left: calc(100% + 20px);
	width: calc(100vw - 100% - 20px - 2 * 20px - 10px);
	height: 100%;
}
